*~
/pelican/blog/output
/pelican/blog/cache/
*.pyc
.#*
\#*\#
*.tex
*.pdf
*.ics
*.odt
*.out
*.aux
*.log
.directory
/nikola/*.py[cod]
/nikola/__pycache__
/nikola/cache
/nikola/output
/nikola/.doit.db
/nikola/_env/
