*~
/pelican/blog/output
/pelican/blog/cache/
*.pyc
.#*
\#*\#
*.tex
*.pdf
*.ics
*.odt
*.out
*.aux
*.log
.directory
nikola/dodcott.org/output/
/nikola/dodcott.org/*.py[cod]
/nikola/dodcott.org/__pycache__
/nikola/dodcott.org/cache
/nikola/dodcott.org/.doit.db
/nikola/dodcott.org/_env/
/nikola/dodcott.org/.doit.db.db
output/categories/index.html
output/robots.txt


