*~
/pelican/blog/output
/pelican/blog/cache/
*.pyc
.#*
\#*\#
*.tex
*.pdf
*.ics
*.odt
*.out
*.aux
*.log
.directory
/nikola/dodcott/*.py[cod]
/nikola/dodcott/__pycache__
/nikola/dodcott/cache
/nikola/dodcott/output
/nikola/dodcott/.doit.db
/nikola/dodcott/_env/
